@charset "UTF-8";
/* CSS Reset
 * --------------------------------------------- */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite,
code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4,
h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p,
pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead,
time, tr, tt, u, ul, var, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  font-size: 14px;
  height: 100%;
  line-height: 1.500em;
  position: relative;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Buttons
 * --------------------------------------------- */
a.button, input[type='button'], input[type='reset'], input[type='submit'] {
  border-style: solid;
  border-width: 0.063em;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  height: auto;
  line-height: 1em;
  padding: 0.625em 1.250em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 0.313em;
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* Buttons - Colours */
a.black.button, input[type='button'].black, input[type='reset'].black, input[type='submit'].black {
  border-color: black;
  color: black;
}

/* Box Sizing
 * --------------------------------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Div & Span
 * --------------------------------------------- */
div {
  display: block;
  white-space: normal;
  width: 100%;
}

span {
  display: inline-block;
}

/* Fluid Framework
 * --------------------------------------------- */
.contained {
  margin: 0 auto;
  padding: 0 1.250em;
  width: 100%;
}

.row .column {
  display: block;
  float: left;
  margin-right: 2%;
  width: 100%;
}
.row .column.last, .row .column:last-child {
  margin-right: 0;
}
.row .column.width_05 {
  width: 3.1%;
}
.row .column.width_10 {
  width: 8.2%;
}
.row .column.width_15 {
  width: 13.3%;
}
.row .column.width_20 {
  width: 18.4%;
}
.row .column.width_25 {
  width: 23.5%;
}
.row .column.width_30 {
  width: 28.6%;
}
.row .column.width_33 {
  width: 31.9966%;
}
.row .column.width_35 {
  width: 33.7%;
}
.row .column.width_40 {
  width: 38.8%;
}
.row .column.width_45 {
  width: 43.9%;
}
.row .column.width_50 {
  width: 49%;
}
.row .column.width_55 {
  width: 54.1%;
}
.row .column.width_60 {
  width: 59.2%;
}
.row .column.width_65 {
  width: 64.3%;
}
.row .column.width_70 {
  width: 69.4%;
}
.row .column.width_75 {
  width: 74.5%;
}
.row .column.width_80 {
  width: 79.6%;
}
.row .column.width_85 {
  width: 84.7%;
}
.row .column.width_90 {
  width: 89.8%;
}
.row .column.width_95 {
  width: 94.9%;
}

.row::before, .row::after {
  content: ' ';
  display: table;
}

.row::after {
  clear: both;
}

/* For IE 6/7 only */
.row {
  *zoom: 1;
}

/* Fluid Framework - Responsiveness (iPhone5 and lower resolutions) */
@media screen and (max-width: 690px) {
  .responsive.row .column.width_05,
  .responsive.row .column.width_10,
  .responsive.row .column.width_15,
  .responsive.row .column.width_20,
  .responsive.row .column.width_25,
  .responsive.row .column.width_30,
  .responsive.row .column.width_33,
  .responsive.row .column.width_35,
  .responsive.row .column.width_40,
  .responsive.row .column.width_45,
  .responsive.row .column.width_50,
  .responsive.row .column.width_55,
  .responsive.row .column.width_60,
  .responsive.row .column.width_65,
  .responsive.row .column.width_70,
  .responsive.row .column.width_75,
  .responsive.row .column.width_80,
  .responsive.row .column.width_85,
  .responsive.row .column.width_90,
  .responsive.row .column.width_95 {
    width: 100%;
  }
}
/* Headings
 * --------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  display: block;
  font-weight: 900;
  line-height: 1.500em;
  word-wrap: break-word;
}

h1 {
  font-size: 2.375em;
}

h2 {
  font-size: 2.125em;
}

h3 {
  font-size: 1.875em;
}

h4 {
  font-size: 1.625em;
}

h5 {
  font-size: 1.375em;
}

h6 {
  font-size: 1.125em;
}

/* Lists
 * --------------------------------------------- */
dd, dl, dt, ol, ul {
  display: block;
}

ol ol li, ul ul li, ol ul li, ul ol li {
  padding-left: 1.250em;
}

li {
  display: list-item;
}

/* Lists - Description */
dt {
  font-weight: 700;
}

dd {
  margin-left: 1.563em;
}

/* Lists - Ordered */
ol {
  list-style: decimal;
  list-style-position: inside;
}

ol ol {
  list-style: lower-alpha;
  list-style-position: inside;
}

/* Lists - Unordered */
ul {
  list-style: disc;
  list-style-position: inside;
}

ul ul {
  list-style: circle;
  list-style-position: inside;
}

/* Menus
 * ------------------------------------------------------------ */
ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.menu li.menu-item,
ul.menu ul.sub-menu {
  display: inline;
  margin: 0;
  padding: 0;
  position: relative;
}

/* Menus - Toggle */
.menu_toggle {
  display: none;
}

/* Menus - Drop Down */
ul.drop_down.menu li.menu-item {
  display: inline-block;
}

ul.drop_down.menu li.menu-item a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
}

ul.drop_down.menu li.menu-item a:hover {
  text-decoration: none;
}

/* Menus - Drop Down - Sub Menu */
ul.drop_down.menu li.menu-item:hover ul.sub-menu {
  left: 0;
  top: auto;
  z-index: 999;
}

ul.drop_down.menu li.menu-item ul.sub-menu {
  left: -9999px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: left;
  width: 250px;
}

ul.drop_down.menu li.menu-item ul.sub-menu li.menu-item {
  display: block;
  line-height: 25px;
}

ul.drop_down.menu li.menu-item ul.sub-menu li.menu-item a {
  padding: 0 5px;
}

/* Menus - Drop Down - Sub Menu - Positioning */
ul.drop_down.menu li.menu-item ul.sub-menu ul.sub-menu,
ul.drop_down.menu li.menu-item ul.sub-menu ul.sub-menu ul.sub-menu,
ul.drop_down.menu li.menu-item ul.sub-menu ul.sub-menu ul.sub-menu ul.sub-menu {
  left: -9999px;
  margin: -4px 0 0 -8px;
  top: 0;
}

ul.drop_down.menu li.menu-item li.menu-item:hover ul.sub-menu,
ul.drop_down.menu li.menu-item li.menu-item li.menu-item:hover ul.sub-menu,
ul.drop_down.menu li.menu-item li.menu-item li.menu-item li.menu-item:hover ul.sub-menu {
  left: 250px;
}

/* Menus - Drop Down - Sub Menu - Symbols */
ul.drop_down.menu ul li.menu-item > a:after {
  content: '►';
  float: right;
  text-align: right;
}

ul.drop_down.menu > li.menu-item > a:after {
  content: '▼';
  font-size: 10px;
  line-height: 16px;
  margin-left: 5px;
  text-align: right;
}

ul.drop_down.menu li.menu-item > a:only-child:after {
  content: '';
  margin: 0;
}

.stick {
  position: fixed;
  top: 0;
}

/* Menus - Responsive Drop Down */
@media only screen and (max-width: 690px) {
  .stick {
    position: relative;
  }

  .responsive ul.drop_down.menu {
    display: none;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 998;
  }

  .responsive ul.drop_down.menu li.menu-item {
    display: block;
    line-height: 40px;
  }

  .responsive ul.drop_down.menu > li.menu-item:first-child {
    border-top: none;
  }

  .responsive ul.drop_down.menu li.menu-item a {
    display: block;
  }

  .responsive ul.drop_down.menu li.menu-item:hover ul.sub-menu {
    left: auto;
  }

  .responsive ul.drop_down.menu li.menu-item ul.sub-menu {
    border: none;
    left: auto;
    position: relative;
    width: auto;
  }

  .responsive ul.drop_down.menu li.menu-item ul.sub-menu li.menu-item {
    line-height: inherit;
  }

  .responsive ul.drop_down.menu li.menu-item ul.sub-menu li.menu-item a {
    color: white;
    padding: 0 20px;
  }

  /* Menus - Drop Down - Sub Menu - Positioning */
  .responsive ul.drop_down.menu li.menu-item ul.sub-menu ul.sub-menu,
  .responsive ul.drop_down.menu li.menu-item ul.sub-menu ul.sub-menu ul.sub-menu,
  .responsive ul.drop_down.menu li.menu-item ul.sub-menu ul.sub-menu ul.sub-menu ul.sub-menu {
    left: auto;
    margin: 0;
    top: auto;
  }

  .responsive ul.drop_down.menu li.menu-item li.menu-item:hover ul.sub-menu,
  .responsive ul.drop_down.menu li.menu-item li.menu-item li.menu-item:hover ul.sub-menu,
  .responsive ul.drop_down.menu li.menu-item li.menu-item li.menu-item li.menu-item:hover ul.sub-menu {
    left: auto;
  }

  /* Menus - Drop Down - Sub Menu - Symbols */
  .responsive ul.drop_down.menu ul li.menu-item > a:after,
  .responsive ul.drop_down.menu > li.menu-item > a:after,
  .responsive ul.drop_down.menu li.menu-item > a:only-child:after {
    content: '';
  }

  /* Menus - Responsive Drop Down - Toggle */
  .responsive .menu_toggle {
    background-image: url("images/menu/toggle.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    font-size: 0;
    height: 50px;
    width: 50px;
  }
}
/* Responsive Embeds, iFrames, Objects & Videos
 * --------------------------------------------- */
embed, iframe, object, video {
  display: block;
  max-width: 100%;
}

/* Responsive Forms
 * --------------------------------------------- */
fieldset, form, label {
  display: block;
}

fieldset {
  margin-bottom: 0.625em;
}

legend {
  font-weight: 700;
}

label {
  display: inline-block;
  font-weight: 300;
  line-height: 2em;
}

input, textarea, select {
  background: white;
  border-style: solid;
  border-width: 0.063em;
  display: inline-block;
  resize: none;
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

input {
  height: 2em;
  padding: 0.313em;
}

textarea {
  padding: 0.625em;
  width: 100%;
}

select {
  line-height: 2em;
  padding: 0.250em 0.313em;
  width: 100%;
}

select optgroup, select option {
  background: white;
}

input[type=checkbox], input[type=radio] {
  height: auto;
}

/* Responsive Images
 * --------------------------------------------- */
img {
  display: block;
  height: auto;
  max-width: 100%;
  width: auto;
}

/* Responsive Tables
 * --------------------------------------------- */
table, td, th {
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

table {
  border-style: solid;
  border-width: 0.063em;
  display: table;
  width: 100%;
}

caption {
  display: table-caption;
  font-weight: 700;
  margin-bottom: 0.625em;
  text-align: center;
}

thead {
  display: table-header-group;
}

tbody {
  display: table-row-group;
}

tfoot {
  display: table-footer-group;
}

tr {
  display: table-row;
}

th {
  font-weight: 700;
  text-align: center;
}

td, th {
  border-style: solid;
  border-width: 0.063em;
  display: table-cell;
  padding: 0.313em;
}

/* Search
 * --------------------------------------------- */
div.search form.box {
  border-style: solid;
  border-width: 0.063em;
  position: relative;
  border-color: rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div.search form.box fieldset.row {
  margin: 0;
}
div.search form.box input.keywords {
  background: white url("images/icons/search/submit.png") right no-repeat;
  border: none;
  float: left;
  height: 2.999em;
  padding: 0 32px 0 10px;
  font-style: italic;
  width: 100%;
}
div.search form.box input.keywords:focus {
  background-image: url("images/icons/search/submit_hover.png");
}
div.search form.box input.submit {
  background: none;
  border: none;
  float: right;
  height: 2.850em;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
}

/* Typography
 * --------------------------------------------- */
abbr, acronym {
  text-transform: uppercase;
}

abbr[title], acronym[title], dfn[title] {
  cursor: help;
  font-style: italic;
  font-weight: 700;
}

address, cite, dfn, em, i, ins, var, q {
  font-style: italic;
}

b, strong {
  font-weight: 700;
}

blockquote {
  font-family: 'Georgia','Times New Roman',Times,serif;
  margin: 1.250em;
  padding: 0.625em;
}

blockquote, p, pre {
  display: block;
  word-wrap: break-word;
}

del {
  color: #cccccc;
  word-wrap: break-word;
}

del, s, strike {
  text-decoration: line-through;
}

pre {
  height: auto;
  outline: none;
  vertical-align: middle;
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code, kbd, pre, samp, tt, var {
  font-family: "Lucida Console",Monaco,monospace;
}

small, sub, sup {
  font-size: 0.625em;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

q:before, q:after {
  content: "\"";
}

u, ins {
  text-decoration: underline;
}
